version: '3'
services:
  metabase:
    image: "metabase/metabase:latest@sha256:2284624757c442933115fce4d64b99ea1854edad60453fb468e650dd5f4566a3"
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: metabase
      MB_DB_HOST: metabase-db
    depends_on:
      - metabase-db

  metabase-db:
    image: "postgres:18@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2"
    environment:
      POSTGRES_DB: metabase
      POSTGRES_USER: metabase
      POSTGRES_PASSWORD: metabase

  db:
    image: "postgres:18@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2"
    environment:
      POSTGRES_DB: ssl_match_stats
      POSTGRES_USER: ssl_match_stats
      POSTGRES_PASSWORD: ssl_match_stats
    ports:
      - "5432:5432"

  flyway:
    image: "flyway/flyway:11@sha256:782c5c207ffb5ac6336139fda4f4295bd9991ef63ad36919406d4268740069bb"
    command: -url=jdbc:postgresql://db:5432/ssl_match_stats -schemas=public -user=ssl_match_stats -password=ssl_match_stats -connectRetries=60 migrate
    volumes:
      - ./sql/flyway:/flyway/sql
    depends_on:
      - db
