version: '3'
services:
  metabase:
    image: "metabase/metabase:latest@sha256:4f29e68d2224895866534afcd858cb2aa164f246ea010b008e79f03dd089b7f9"
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: metabase
      MB_DB_HOST: metabase-db
    depends_on:
      - metabase-db

  metabase-db:
    image: "postgres:18@sha256:073e7c8b84e2197f94c8083634640ab37105effe1bc853ca4d5fbece3219b0e8"
    environment:
      POSTGRES_DB: metabase
      POSTGRES_USER: metabase
      POSTGRES_PASSWORD: metabase

  db:
    image: "postgres:18@sha256:073e7c8b84e2197f94c8083634640ab37105effe1bc853ca4d5fbece3219b0e8"
    environment:
      POSTGRES_DB: ssl_match_stats
      POSTGRES_USER: ssl_match_stats
      POSTGRES_PASSWORD: ssl_match_stats
    ports:
      - "5432:5432"

  flyway:
    image: "flyway/flyway:11@sha256:c9085c182433e870dc24717cbe072a4a3b2c1bd06ff601486ee9b6dc17ae093e"
    command: -url=jdbc:postgresql://db:5432/ssl_match_stats -schemas=public -user=ssl_match_stats -password=ssl_match_stats -connectRetries=60 migrate
    volumes:
      - ./sql/flyway:/flyway/sql
    depends_on:
      - db
