version: '3'
services:
  metabase:
    image: "metabase/metabase:latest@sha256:bbea3d5c486de65f1b80b2315c36b184ec9ee66525cf49e8c596b3707485008a"
    volumes:
      - /dev/urandom:/dev/random:ro
    ports:
      - "3000:3000"
    environment:
      MB_DB_TYPE: postgres
      MB_DB_DBNAME: metabase
      MB_DB_PORT: 5432
      MB_DB_USER: metabase
      MB_DB_PASS: metabase
      MB_DB_HOST: metabase-db
    depends_on:
      - metabase-db

  metabase-db:
    image: "postgres:18@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f"
    environment:
      POSTGRES_DB: metabase
      POSTGRES_USER: metabase
      POSTGRES_PASSWORD: metabase

  db:
    image: "postgres:18@sha256:5ec39c188013123927f30a006987c6b0e20f3ef2b54b140dfa96dac6844d883f"
    environment:
      POSTGRES_DB: ssl_match_stats
      POSTGRES_USER: ssl_match_stats
      POSTGRES_PASSWORD: ssl_match_stats
    ports:
      - "5432:5432"

  flyway:
    image: "flyway/flyway:11@sha256:0fd96213019249deee23d078e45697f484e00b5bdf8cd2c6ed8af0bd2484b4f6"
    command: -url=jdbc:postgresql://db:5432/ssl_match_stats -schemas=public -user=ssl_match_stats -password=ssl_match_stats -connectRetries=60 migrate
    volumes:
      - ./sql/flyway:/flyway/sql
    depends_on:
      - db
