version: 2.1

jobs:
  test_go:
    resource_class: medium
    docker:
      - image: cimg/go:1.25.3@sha256:e31a4633af40fa2c7011c538efa4b01eed93bd26b6a4df2142e7cdf75fb0c147
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: go get -v -t -d ./...
      - run: go test -v -covermode=count -coverprofile=count.out ./...
      - run: go tool cover -html=count.out -o coverage.html
      - store_artifacts:
          path: coverage.html
          destination: coverage

workflows:
  version: 2
  build:
    jobs:
      - test_go
