version: 2.1

jobs:
  test_go:
    resource_class: medium
    docker:
      - image: cimg/go:1.25.4@sha256:cf75b4671b52a5c6cd8f9c6c5dd2abe42b5f5061af89b41ae1b2ed555e7cacf9
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: go get -v -t -d ./...
      - run: go test -v -covermode=count -coverprofile=count.out ./...
      - run: go tool cover -html=count.out -o coverage.html
      - store_artifacts:
          path: coverage.html
          destination: coverage

workflows:
  version: 2
  build:
    jobs:
      - test_go
