version: 2.1

jobs:
  test_go:
    resource_class: medium
    docker:
      - image: cimg/go:1.25.6@sha256:f6f88625e8ee23457eeb0877f5a8fea17a066ddc05958f92c093cfab791bde74
    steps:
      - checkout
      - attach_workspace:
          at: .
      - run: go get -v -t -d ./...
      - run: go test -v -covermode=count -coverprofile=count.out ./...
      - run: go tool cover -html=count.out -o coverage.html
      - store_artifacts:
          path: coverage.html
          destination: coverage

workflows:
  version: 2
  build:
    jobs:
      - test_go
